<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
        <img src="assets/images/flockr_head_small.png" alt="flockr" width="30"> flockr
      </a>
    <div class="navbar-item">
      {{ currentFlock?.name }}
    </div>

    <div class="navbar-burger burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu" [ngClass]="{'is-active': show}">
    <div class="navbar-start">
        <a class="navbar-item" routerLink="/eggs/2017-09-30">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span> Eggs
        </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          My Flocks
        </div>
        <div class="navbar-dropdown">
          <a *ngFor="let flock of flocks" class="navbar-item " [routerLink]="['flocks', flock.$key]" (click)="setCurrentFlockId(flock.$key)">
                {{flock.name}} <span *ngIf="flock.$key === user.currentFlockId" class="icon has-text-success">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </span>
              </a>
          <div class="navbar-divider"></div>
          <a class="navbar-item">
                  <span class="icon">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                  </span> Create a new flock
              </a>
          <div class="navbar-divider"></div>
          <a class="navbar-item">
                  <span class="icon">
                      <i class="fa fa-link" aria-hidden="true"></i>
                  </span> Join a flock
              </a>
        </div>
      </div>
      <a *ngIf="!user" class="navbar-item" routerLink="/login" (click)="toggleCollapse()">
          Login
        </a>
      <div *ngIf="user" class="navbar-item">
        {{user.email}}
      </div>

    </div>
  </div>
</nav>
