<form [formGroup]="chickenForm" (ngSubmit)="addChicken()">

  <h3>Add Chicken</h3>
  <hr>

  <label for="name">Name</label>
  <input type="text" id="name" class="input" formControlName="name" required>

  <div *ngIf="formErrors.name" class="notification is-danger">
    {{ formErrors.name }}
  </div>

  <label for="dob">DOB</label>
  <input type="date" id="dob" class="input" formControlName="dob" required>

  <div *ngIf="formErrors.dob" class="notification is-danger">
    {{ formErrors.dob }}
  </div>

  <label for="photo">Photo</label>
  <input type="text" id="photo" class="input" formControlName="photo">

  <div *ngIf="formErrors.photo" class="notification is-danger">
    {{ formErrors.photo }}
  </div>

  <div *ngIf="chickenForm.valid" class="notification is-success">Form is valid</div>
  <button type="submit" class="button" [disabled]="!chickenForm.valid">Submit</button>

</form>
