<div *ngIf="eggs | async; let eggs">
  <div *ngIf="chickens | async; let chickens">

    <div class="level is-mobile">
          <div class="level-item has-text-centered">
              <a class="button" [routerLink]="['/eggs/day', previousDate]">
                    <span class="icon is-small">
                      <i class="fa fa-chevron-left"></i>
                    </span>
                  </a>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Date</p>
                <p class="title is-4">{{ dateString | date }}</p>
              </div>
            </div>

            <div class="level-item has-text-centered">
                <a class="button" [routerLink]="['/eggs/day', nextDate]">
                    <span class="icon is-small">
                      <i class="fa fa-chevron-right"></i>
                    </span>
                  </a>
            </div>

            <div class="level-item has-text-centered">
                <a class="button" [routerLink]="['/eggs/day', nextDate]">
                    <span class="icon is-small">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </a>
            </div>

            <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Eggs</p>
                  <p class="title is-4">{{ eggs.length }}</p>
                </div>
              </div>

    </div>

    <hr>

    <!-- <div class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Eggs Laid</p>
          <p class="title is-4">{{ eggs.length }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
          <button [routerLink]="['/add']" [queryParams]="{ date: dateString}" class="button is-small is-primary is-outlined">Calendar</button>
      </div>
    </div>

    <hr> -->

    <div class="egg-list">
      <div *ngFor="let egg of eggs" class="media">

        <div class="media-content">
          <div class="content">
            <p>
              <span>
                <a [routerLink]="['/chicken', egg.chicken]">{{ chickens[egg.chicken].name }}</a>
              </span>
            </p>
            <p *ngIf="egg.weight">
              <span>
                {{ egg.weight }}g
              </span>
              <span *ngIf="egg.damaged" class="icon has-text-danger">
                  <i class="fa fa-warning"></i>
              </span>
              <!-- <br> <span>This egg was smashed by the other chickens</span> -->
            </p>
          </div>
        </div>
        <div class="media-right">
          <button class="delete is-medium" (click)="deleteEgg(egg.$key)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
